<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sklep{% endblock %}</title>
        
		{% block head_style %}
        
			{% stylesheets 
				'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
				'@AppLayoutBundle/Resources/views/css/style.css'
			%}
	        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
	        	        
	        {% endstylesheets %}
        
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div>
    	<div id="menu">
    		<nav role="navigation" class="navbar">
	        <div class="navbar-collapse" id="navbar">
	            {{ knp_menu_render('AppLayoutBundle:Builder:mainMenu') }}
	        </div>
                <div>&nbsp;</div>
                </nav>
    		
    	</div>
    	
    	<div id="side">
    		{% block side %}Side{% endblock %}
    	</div>
    	
    	<div id="contest">
            
            
                {% for flashMessage in app.session.flashbag.get('notice') %}
    			<div class="container-fluid">
    				<div class="alert alert-success">
    					{{ flashMessage }}
    				</div>
    			</div>
    		{% endfor %}
    		{% block body %}{% endblock %}
    	</div>
    	
    	<div class="clear"></div>
    	
    	<div id="footer">
    		{% block footer %}
                <nav role="navigation" class="blog-nav-item">
+                
+                        {{ knp_menu_render('AppLayoutBundle:Builder:footerMenu') }}
+                
+            </nav>
                {% endblock %}
    	</div>
   	</div>
        
        
        {% block scripts %}
	        {% javascripts
	        	'https://code.jquery.com/jquery-1.11.1.min.js'
	        	'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
	        %}
	        	<script src="{{ asset_url }}"></script>
	        {% endjavascripts %}
	        
        {% endblock scripts %}
    </body>
</html>
